<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to "StockTracker", root_path, class:"navbar-brand", id: "logo" %>
    </div>
    
  <% if logged_in? %>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "My Portfolio", my_portfolio_path %></li>
        <li><%= link_to "My Profile", edit_registration_path(current_user) %></li>
        <li><%= link_to "My Friends", my_friends_path  %></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li class="col-md-8 user-name text-right">
          <i class="fa fa-user"></i>
          <%= current_user.full_name.present? ? current_user.full_name : current_user.email %>
        </li>
          <li class="col-md-4 logout"><%= link_to "Logout", destroy_user_session_path, class: "btn btn-danger", method: :delete %></li>
      </ul>
          
  <% else %>
        
    <li><%= link_to 'Login', login_path %> </li>
    <li><%= link_to 'Signup', signup_path %> </li>
          
  <% end %>
        
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>